@media screen and (orientation: landscape) {
    :root{
        --dro-frametop: 85dvh;
        --dro-framebot: 15dvh;

        --dro-disptop : 7dvh;
        --dro-dispbot : 19dvh;

        --menu-bot: 5vh;

        --dro-readouth: 28dvh;

        --disp-margbot : 1dvh;
        --disp-padr : 2dvw;

        --calc-cellhight : 14.2dvh;
        
        --lfont : 17dvh;
        --mfont : 10dvh;
        --sfont : 8dvh;
        --xsfont :4dvh;
        --xxsfont :2dvh;
    }

    .app {
        display: grid; 
        grid-template-columns: 1fr  1fr;
        gap: 2dvw;
        width: 98dvw; 
        max-width: 98dvw;
        height: 98dvh; }
}
@media screen and (orientation: portrait) {
    :root{
        --dro-frametop: 42.5dvh;
        --dro-framebot: 7.5dvh;

        --dro-disptop : 3.5dvh;
        --dro-dispbot : 9.5dvh;

        --menu-bot: 52.5dvh;

        --dro-readouth: 14dvh;

        --disp-margbot : 0.5dvh;
        --disp-padr : 4dvw;

        --calc-cellhight : 6.8dvh;
        
        --lfont : 8.5dvh;
        --mfont : 5dvh;
        --sfont : 4dvh;
        --xsfont :2dvh;
        --xxsfont :1dvh;
    }
  .app {
        display: grid; 
        grid-template-rows: 1fr  1fr;
        gap: 2dvh;
        width: 98dvw; 
        max-width: 98dvw;
        height: 98dvh; }
}

html, body {       
    margin: 0; 
    padding: 0;
    width: 100dvw; 
    height: 100dvh; 
    max-width: 100dvw;
    max-height: 100dvh;
    overflow: hidden;
    
    justify-content: center;
    align-items: stretch;
    
    box-sizing: border-box;
    
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal; 
    font-size: var(--sfont);
}


/*Reusable styles*/

.btn {
    /* Styling voor elke individuele cel */
    background-color: #ffffff;

    
    /* Centreer de inhoud (het nummer) in de cel */
    display: flex; 
    flex-grow: 1; 
    flex-basis: 0; 
    flex-shrink: 1; 

    justify-content: center;
    align-items: center;
    font-size: var(--mfont);
    border-radius: 10px;
    
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin : 4px;		
    border : none;
}

.btn:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin : 6px;
}


.disp{
    background-color: #ffffff;
    border: 3px solid black;
    border-radius: 10px;

    justify-content: right;
    align-items: center;

    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    
    font-size: var(--lfont);
    text-align: right;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);

    padding-right: var(--disp-padr);
    margin-bottom: var(--disp-margbot) ;
} 

.disp_button{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: var(--disp-margbot) ;
}

.disp_button:active{
    margin: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: var(--disp-margbot) ;
}


.grid1x4{
    display: grid; 
    grid-template-columns: 1fr  1fr 1fr  1fr;
}

.span1x2{
    grid-row: span 2;
}




/* calculator styles*/


.calc__frame{
    display: grid;
    grid-template-rows: repeat(7, var(--calc-cellhight)); 
    grid-template-columns: repeat(4, 1fr); 
}

.calc__disp{
    grid-column: span 4; 
    grid-row: span 2; 

    display: grid; 
    grid-template-rows: repeat(2, 1fr);
}

.calc__digit{
    background-color: #f0f0f0;
}

.calc__operator{
    background-color: #ffcc00;
}

.calc__ce{
    background-color: #ff3300;
}

.calc__enter{
    background-color: #33cc33;
}


/*DRO styles*/

.dro__frame{
    display: grid;
    grid-template-rows: var(--dro-frametop) var(--dro-framebot);
}

.dro__readOuts{
    display: grid;
    grid-template-rows: repeat(3, var(--dro-readouth)); 
    }


.dro__disp {
    display: grid; 
    grid-template-columns: 1fr  6fr;
    grid-template-rows: var(--dro-disptop)	 var(--dro-dispbot);
}


.is-disabled{
    display: none !important; 
}

.is-selected{
    border-color: #ff3300;
    color: #741801;
    box-shadow: 3px 3px 4px #741801bb;

}

.memory-has-value{
    font-size: var(--xsfont) !important;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ws-status-disconnected{
    background-color: #690c0c;
}

/*font modifiers*/
.large_font{
    font-size: var(--lfont);
}
.medium_font{
    font-size: var(--mfont);
}
.small_font{
    font-size: var(--sfont);
}
.extra_small_font{
    font-size: var(--xsfont);
}


.dropdown-container {
    display: flex;
}

.menu-toggle-input {
    display: none; /* hide checkboxes*/
}



.menu-button {
    user-select: none; 
    display: flex;
}

.dropdown-menu {
    position: absolute;
    bottom: var(--menu-bot);
    list-style: none;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 46%);
    border-radius: 10px;
    /* standard hide */
    display: none;
    z-index: 1000;
}

.menu-toggle-input:checked ~ .dropdown-menu {
    display: block; /* show when checked*/
}
.menu-item {
    font-weight: bold;
}

.submenu {
    list-style: none;
    font-weight: normal; 
}

.submenu li {
    padding: 5px 15px 5px 25px; /* intendant */
    border-radius: 10px;
}

.option-is-selected {
    background-color: #0051ffc7;
}